<%= turbo_stream_from :questions %>


<div class="split left">
  <div class="centered">
  <h1>Add a Question</h1>
  <%= turbo_frame_tag :questions_form do %>
    <%= render 'questions/form', question: @question %>
  <% end %>
  </div>
</div>

<div class="split right">
  <div class="centered">
  <h1>Questions</h1>
    
    <%= turbo_frame_tag :questions do %>
      <%= render @questions %>
    <% end %>
  
  </div>
</div>
