Quiz Name: <%= @quiz.name %>
<hr>
<div>
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
  <%= link_to "Back to quizzes", quizzes_path %>
  <%= link_to "Destroy this quiz", @quiz, method: :delete %>
  <%= link_to "Build Quiz", build_quiz_path(@quiz) %>
</div>
<hr>
Here are all the questions that will be on the quiz:

<% @quiz.questions.each do |question| %>
  <h2>Question:</h2>
  <%= question.title %>
  <br>
  Answer:<%= question.answer %>
  <hr>
  <br>
<% end %>

